__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
*.log
*.sqlite
.env
.vscode/
.idea/
*.md
migrations/__pycache__/
tests/
hotel_logs.txt
